# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.egg-info/
.env
.venv

# Ignore Jupyter and notebook checkpoints
.ipynb_checkpoints/

# Ignore datasets and large data
MERL/
datasets/
*.csv
*.json
*.npy
*.npz
*.h5
*.hdf5
*.tar
*.zip
*.gz
*.pkl
*.pickle

# Ignore model checkpoints and weights
ckpts/
checkpoints/
*.pt
*.pth
*.ckpt
*.onnx
*.pb

# Ignore logs and outputs
*.log
logs/
output/
outputs/
training_results/
evaluation_results/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore other user-specified large files
store_collector/

.vscode/
.*.swp

run_vjepa_aws.py
run.py
main_distributed_video.py
main_video.py

app/vjepa/configs/temp_aws
app/main_dev.py
app/main_distributed_dev.py
evals/ava/alphaction/data

run_evals.py
run_evals_v2.py
run_pretrain.py

traces/
third_party/*

evals/simu_env_planning/local/
evals/simu_env_planning/docker2/
evals/simu_env_planning/docker/
app/vjepa_droid/local/
app/vjepa_droid_v2/local/
app/vjepa_droid_v3/local/
app/vjepa_droid_v4/local/
configs/local